{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="container-fluid">
    {{template "navbar.html" .}}
</header>

<div class="container">
  <div class="row">

    {{template "menu.html" .}}

    <section class="col-sm-8">
        <form action="/App/Settings" method="POST" >
          <input type="text" name="myName" /><br/>
          <input type="submit" value="Say hello!" />
      </form>
    </section>

    {{template "Help/Settings.html" .}}

  </div>
</div>

{{template "footer.html" .}}
